<span ng-repeat="tag in tags"><button ng-click="tag.Checked = !tag.Checked">{{tag.Name}}</button></span>

<p></p>

<span class="switch" ng-repeat="tag in tags">
    <input id="cmn-toggle-{{tag.Name}}" class="cmn-toggle cmn-toggle-yes-no" type="checkbox" ng-model="tag.Checked">
    <label for="cmn-toggle-{{tag.Name}}" data="{{tag.Name}}" ng-checked="tag.Checked"></label>
</span>

<p></p>

<li ng-repeat="image in images | imageList:tags">
    <img src={{image.Path}} alt={{image.Notes}} id="scrapbookImage">
</li>